/node_modules
/public/hot
/public/storage
/storage/*.key
/files/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/lapp/storage/framework/cache/data/*
/lapp/node_modules
/lapp/public/hot
/lapp/public/storage
/lapp/storage/*.key
/lapp/vendor 
/lapp/.env
/lapp/.env.backup
/lapp/.phpunit.result.cache
/lapp/docker-compose.override.yml
/lapp/Homestead.json
/lapp/Homestead.yaml
/lapp/npm-debug.log
/lapp/yarn-error.log
